<nav th:fragment="navigation" xmlns:th="http://www.thymeleaf.org">
  <div class="navbar_left_container">
    <div class="nav_icon_container">
      <a class="clickable nav_logo" href="/posts">a</a>
    </div>
    <div class="nav_icon_search">
      <form action="/search" method="GET">
        <input type="text" name="nav" placeholder="Search..." />
      </form>
    </div>
  </div>
  <div class="navbar_right_container">
    <div class="clickable nav_icon_container">
      <a><i class="fa-solid fa-plus fa-nav"></i></a>
    </div>
    <div class="clickable nav_icon_container">
      <a><i class="fa-solid fa-bolt fa-nav"></i></a>
    </div>
    <div class="clickable nav_icon_container">
      <a><i class="fa-solid fa-user fa-nav"></i></a>
    </div>
  </div>
</nav>