.search_results_container {
    max-width: 40rem;
}

.search_results_container {
    list-style: none;
}

.search_results_card {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_results_card p {
    margin: 0;
}

.search_mutual {
    font-size: 0.8rem;
    font-weight: 300;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.search_no_results_text {
    text-align: center;
}